@import "shared.rasi"

configuration {
    show-icons: false;
}

window {
    width: 44%;
    location: center;
    anchor: center;
}

listview {
    lines: 10;
}

element {
    padding: 7px 9px;
}

element-text {
    text-color: inherit;
}

entry {
    placeholder: "filter clipboard";
}
