@import "shared.rasi"

window {
    width: 48%;
    location: center;
    anchor: center;
}

listview {
    lines: 12;
}

element {
    padding: 6px 9px;
}

element-text {
    text-color: inherit;
}

entry {
    placeholder: "filter clipboard";
}
