@import "shared.rasi"

window {
    width: 34%;
    location: center;
    anchor: center;
}

mainbox {
    padding: 10px;
}

inputbar {
    children: [ prompt, entry ];
}

prompt {
    content: "launch";
    text-color: @text-dim;
}

entry {
    placeholder: "Search applications";
}

listview {
    lines: 8;
    columns: 1;
}

element {
    padding: 7px 9px;
}

element-icon {
    size: 1.05em;
}
