@import "shared.rasi"

window {
    width: 34%;
    location: center;
    anchor: center;
}

listview {
    lines: 9;
    columns: 1;
}

prompt {
    enabled: true;
    text-color: @text-dim;
}

element {
    padding: 7px 9px;
}
