@import "shared.rasi"

window {
    width: 44%;
    location: center;
    anchor: center;
}

listview {
    lines: 9;
}

entry {
    placeholder: "switch window";
}

element {
    padding: 6px 9px;
}
