@import "shared.rasi"

window {
    width: 36%;
    location: center;
    anchor: center;
}

mainbox {
    padding: 10px;
}

prompt {
    content: "windows";
    text-color: @text-dim;
}

entry {
    placeholder: "Switch window";
}

listview {
    lines: 8;
    columns: 1;
}

element {
    padding: 7px 9px;
}
